<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../../public/css/home.css">
</head>
<body>
    <%- include ('../partials/navbar') %>
    <section id="HomeSection">
        <div class="box">
          <img src="../../public/img/DDlogo.png" alt="logo">
          <h1>Welcome To Defensive DEAMS </h1>
        </div>
      </section>
    <%- include ('../partials/footer') %>
</body>
</html>