/* body{
    background: url(../../public/img/d2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
} */
/* #loginSection{
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-flow: row wrap;
    /* gap: 20px; */
    /* background-color: tomato;
    padding: 10px 10px;
    color: white;
    height: 608px;
} */